body {
  height: 2000px;
}

.table-responsive {
  margin-top: -200px;
}

.carousel {
  margin-top: 80px;
}

svg {
  z-index: -1;
}

.about {
  text-align: center;
  align-items: center;
  width: 100%;
}

.about img {
  align-items: center;
}

.about h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

.about p {
  font-size: 20px;
}

.container-bg {
  background-color: #0dcaf0;
  border: 1px solid #0dcaf0;
  width: 100%;
  height: 500px;
  opacity: 0.3;
  display: grid;
  grid-template-rows: [baris1] 350px [baris2] 350px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'baris1'
    'baris2';
}

/* responsive */

/* MOBILE */

@media screen and (max-width: 576px) {
  .about img {
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .about {
    margin-top: -210px;
  }
  .svg2 {
    margin-top: -250px;
  }
}

/* TABLET */

@media screen and (max-width: 768px) {
  .about img {
    align-items: center;
    width: 100%;
  }

  .svg2 {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: -210px;
  }
  .svg2 {
    margin-top: -250px;
  }
}
